<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <appSettings>
    <add key="SiteMailAddress" value="ubctextbooksca@gmail.com"/>
    <add key="amazonSecurityNamespace" value="http://security.amazonaws.com/doc/2007-01-01/"/>
    <add key="accessKeyId" value="AKIAJF2SIXKMWXLTYD2A"/>
    <add key="secretKey" value="htV4NQqaycTIJHT5rDiBw47b8BYTWF3HIlzoV3\+Y"/>
  </appSettings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="signingBehavior" type="Amazon.PAAPI.WCF.AmazonSigningBehaviorExtensionElement, Amazon.PAAPI.WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="amazonEndpointBehavior">
          <signingBehavior accessKeyId="AKIAJF2SIXKMWXLTYD2A" secretKey="htV4NQqaycTIJHT5rDiBw47b8BYTWF3HIlzoV3\+Y"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="AWSECommerceServiceBindingNoTransport" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AWSECommerceServiceBindingTransport">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding5">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding6">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding7">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding8">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding9">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding10" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService"
        behaviorConfiguration="amazonEndpointBehavior" binding="basicHttpBinding"
        bindingConfiguration="AWSECommerceServiceBindingTransport" contract="Amazon.PAAPI.AWSECommerceServicePortType"
        name="AWSECommerceServicePort" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="Visitor" connectionString="Data Source=localhost\BAND;Initial Catalog=UBCTextbooks;User ID=ubctext_visitor;Password=G72y3bnkw"/>
    <add name="User" connectionString="Data Source=localhost\BAND;Initial Catalog=UBCTextbooks;User ID=ubctext_user;Password=G72y3bnkw"/>-->
    <add name="User" connectionString="data source=MADNESS\SQLEXPRESS;Initial Catalog=UBCTextbooks;User ID=ubctext_user;Password=G72y3bnkw"/>
    <add name="Visitor" connectionString="data source=MADNESS\SQLEXPRESS;Initial Catalog=UBCTextbooks;User ID=ubctext_visitor;Password=G72y3bnkw"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState timeout="60"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableViewState="false" enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpModules>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition=""/>
    </modules>
  </system.webServer>
  <rewriter>
    <rewrite url="signup" to="~/SignUp.aspx"/>
    <rewrite url="verify" to="~/Verify.aspx"/>
    <rewrite url="activate" to="~/Activate.aspx"/>
    <rewrite url="login" to="~/Login.aspx"/>
    <rewrite url="editaccount" to="~/EditAcc.aspx"/>
    <rewrite url="account" to="~/Account.aspx"/>
    <rewrite url="sell$" to="~/Sell.aspx"/>
    <rewrite url="isbn$" to="~/ISBN.aspx"/>
    <rewrite url="confirmtb" to="~/ConfirmTB.aspx"/>
    <rewrite url="selldetails" to="~/SellDetails.aspx"/>
    <rewrite url="mylisting" to="~/mylisting.aspx"/>
    <rewrite url="newbooklist" to="~/NewBookList.aspx"/>
    <rewrite url="listdetails" to="~/ListDetails.aspx"/>
    <rewrite url="userdetails" to="~/UserDetails.aspx"/>
    <rewrite url="search" to="~/Search.aspx"/>
  </rewriter>
</configuration>